[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/asyncplusplus"]
	path = extern/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "extern/actor-framework"]
	path = extern/actor-framework
	url = https://github.com/actor-framework/actor-framework.git
